streamlit>=1.40.1
pandas>=2.0
numpy>=1.26.0
matplotlib
seaborn
plotly
altair
geopandas
openpyxl
scikit-learn
xgboost
joblib
streamlit-aggrid
textblob
WordCloud
fpdf
shap
dask
optuna

# Profiling packages - compatible with Python 3.10
ydata-profiling==4.1.2
streamlit-pandas-profiling==0.1.3



