streamlit>=1.40.1
pandas>=2.0
numpy>=1.26.0
matplotlib
seaborn
plotly
altair
geopandas
openpyxl
scikit-learn
xgboost
joblib
streamlit-aggrid
textblob
wordcloud
fpdf
dask
optuna
ydata-profiling>=4.0.0
streamlit-pandas-profiling>=0.1.3